.gradle/
**/build/
build/
local.properties
*.log
.idea/
*.iml
*.ipr
*.iws
*.jks
*.keystore
.android/
*.avd/
*.ini
*.qcow2
*.img
*.vmdk
*.vdi
*.vhd
*.vhdx
snapshots/
*.snap
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
*~
**/caches/
.caches/
.caches*/
**/generated/
**/intermediates/
!gradle-wrapper.jar
out/
.vscode/
*.env
*.tmp
*.temp
*.swp
