<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.b07_group_project">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07_Group_Project"
        tools:targetApi="31">

        <!-- Entry point -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Role Selection">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login screens -->
        <activity android:name=".ChildLoginActivity" />
        <activity android:name=".ParentLoginActivity" />
        <activity android:name=".ProviderLoginActivity" />

        <!-- Registration -->
        <activity android:name=".RegisterActivity" android:exported="false"/>

        <!-- Home Activities -->
        <activity android:name=".childUserInterfaceHome" android:exported="false"/>
        <activity android:name=".parentUserInterfaceHome" android:exported="false"/>
        <activity android:name=".providerUserInterfaceHome" android:exported="false"/>

        <activity android:name=".providerReportView" android:exported="false"/>
        <activity android:name=".patientList" android:exported="false"/>
        <activity android:name=".manageChildren" android:exported="false"/>
        <activity android:name=".medicationManagement" android:exported="false"/>
        <activity android:name=".medicationLog" android:exported="false"/>
        <activity android:name=".symptomReports" android:exported="false"/>
        <activity android:name=".emergencyContacts" android:exported="false"/>
        <activity android:name=".providerSharing" android:exported="false"/>
        <activity android:name=".techniqueHelper" android:exported="false"/>
        <activity android:name=".checkInAndSymptoms" android:exported="false"/>
        <activity android:name=".troubleBreathing" android:exported="false"/>

        <activity android:name=".badges" android:exported="false"/>
        <activity android:name=".settings" android:exported="false"/>

    </application>

</manifest>